.header {
  margin: auto;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  /* background-color: #2c2c2c; */
}

.logo {
  font-size: 3rem;
  color: #09005e;
}

.header-navlinks {
  display: flex;
}

.header-hamburger {
  display: none;
}

@media (max-width: 57rem) {
  .header-hamburger {
    display: contents;
  }

  .header-navlinks {
    display: none;
  }
}
